<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="FlashCardDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\thejo\source\repos\C#\BivensP8_FlashCardForm\BivensP8_FlashCardForm\FlashCardDB.mdf;Integrated Security=True"/>
	</connectionStrings>

</configuration>